<a href="https://colab.research.google.com/github/jose2003luis/simple_data_type/blob/main/main_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## exercise


Write a program that asks the console for the user's name and an integer number and prints the user's name on different lines on the screen as many times as the number entered.*texto en cursiva*

In [1]:
name = input("Enter your name: ")
number = int(input("Enter your number: "))
print((name + "\n")* number)

Enter your name: jose luis blanco arrisueño
Enter your number: 20
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño
jose luis blanco arrisueño

## Exercise

Write a program that prompts the console for the user's full name, and then displays the user's full name three times, once with all lowercase letters, once with all uppercase letters, and once with just the first and last letters of the first and last names capitalized. The user can enter his name by combining upper and lower case as he likes.

In [3]:
name = input("Inrtoduce your name: ")
last_name = input (" Enter your lats name: ")
full_name= name+" "+last_name
print(full_name.lower())#(string method) Lowercase refers  "hello"
print(full_name.upper())#(string method)Uppercase refers   "HELLO"
print(full_name.title())#(string method)Capitalization refers  "Hello"

Inrtoduce your name: jose luis blanco arrisueño
 Enter your lats name: ☺
jose luis blanco arrisueño ☺
JOSE LUIS BLANCO ARRISUEÑO ☺
Jose Luis Blanco Arrisueño ☺

## Exercise

Write a program that asks the console for the username and after the user enters it, displays `<NAME> has <n> letters`, where `<NAME>` is the uppercase username and `<n>` is the number of letters in the username.

In [4]:
name = input("Enter your name: ")
print(name.upper()+" has "+str(len(name))+" letters ☺") #funtion len ()returns the number of items in an object

Enter your name: jose luis blanco arrisueño
JOSE LUIS BLANCO ARRISUEÑO has 26 letters ☺

## Exercise

Business phones have the following format `prefix-extension-number` where the prefix is ​​the country code `+34`, and the extension is two digits (eg `+34-913724710-56`). Write a program that prompts the console for a phone number in this format and displays the phone number without the prefix and extension.

In [ ]:
phone = input("Enter the number with the next format: +xx-xxxxxxxxx-xx :")
print("The number fhone is : ",phone[4:-3])#the parameter [4:-3] indicates to hide the first 4 and the last three

Enter the number with the next format: +xx-xxxxxxxxx-xx :+12-123456789-12
The number fhone is :  123456789

## Exercise

Write a program that asks the user to enter a phrase at the console and displays the inverted phrase on the screen.

In [ ]:
a = input("Enter the new phrase : ")
print(a[::-1]) #reverses each character

Enter the new phrase : what's new Old man
nam dlO wen s'tahw

## Exercise

Write a program that asks the user to enter a phrase at the console and a vowel in lower case, and then display the same phrase on the screen but with the vowel entered in upper case.

In [ ]:
phrase = input("Enter the phrase: ")
vocal = input ("Enter the lowercase vocal: ")
print(phrase.replace(vocal, vocal.upper()))# It is important to leave a space after the comma.

Enter the phrase: what's new Old man
Enter the lowercase vocal: a
whAt's new Old mAn

##Exercise

Write a program that asks for the user's email in the console and displays another email on the screen with the same name (the part before the @) but with the ceu.es domain.

In [7]:
a = str(input("Enter the email address : "))
a = str(a)+str("@ceu.es")
print(a[:a.find('@')] + '@ceu.es')  #a.find('@') method that returns the index of the first occurrence of the character ‘@’

Enter the email address : luisblancoa2003@gmail.com
luisblancoa2003@ceu.es

## Exercise

Write a program that asks the console for the price of a product in euros with two decimal places and displays the number of euros and the number of cents of the entered price on the screen.

In [11]:
price = input("Enter the price of the product with two decimal places: ")
print(price[:price.find('.')], 'euros and', price[price.find('.')+1:], 'cents.')

Enter the price of the product with two decimal places: 19.99
19 euros and 99 cents.

## Exercise

Write a program that asks the user for the date of his birth in `mm/dd/yyyy` format and displays the day, month and year on the screen.

In [13]:
date = input("Enter the date of your birth in dd/mm/yyyy format: ")
print('Day', date[:2])
print('Month', date[3:5])
print('Year', date[6:])

date = input("Enter the date of your birth in day/month/year format: ")
day = date[:date.find('/')]
myear = date[date.find('/')+1:]
month = myear[:myear.find('/')]
year = myear[myear.find('/')+1:]
print('Day', day)
print('Month', month)
print('Year', year)

Enter the date of your birth in dd/mm/yyyy format: 20/02/2003
Day 20
Month 02
Year 2003
Enter the date of your birth in day/month/year format: 20/2/2003
Day 20
Month 2
Year 2003

## Exercise

Write a program that asks the console for the products in a shopping cart, separated by commas, and displays each of the products on a different line.

In [16]:
basket = input('Enter the products in the shopping basket separated by commas: ')
print("The market lists ",basket.replace(',', '\n'))

Enter the products in the shopping basket separated by commas: apples,bananas,lettuce,onion
The market lists  apples
bananas
lettuce
onion

## Solution 2

In [17]:
basket = input('Enter the products in the shopping basket separated by commas: ')
print('\n'.join(basket.split(',')))

Enter the products in the shopping basket separated by commas: onion,lettuce,fish,oranges,bananas
onion
lettuce
fish
oranges
bananas

## Exercise

Write a program that asks for the name of a product, its price and a the number of units and displays a string in the following format on the screen:

`<product>: <units> units x <price>€ = <total>€`

where `<units>` is the number of units with five digits, `<price>` is the unit price with 6 integer digits and 2 decimal places, and `<total>` is the total cost with 8 integer digits and 2 decimal places.

In [18]:
product=input("Enter the product name: ")
price = float(input('Enter the unit price: '))
units = int(input('Enter the number of units: '))
print('{product}: {units:3d} units x {price:9.2f}€ = {total:11.2f}€'.format(product = product, units = units, price = price, total = units * price))

Enter the product name: soap
Enter the unit price: 2
Enter the number of units: 2
soap:   2 units x      2.00€ =        4.00€